@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body, h1, ul, h2, p, header, section, nav {
    margin: 0;
    padding: 0;
}
li { list-style-type: none; }
a { text-decoration: none; color:#333; }
img { vertical-align: bottom; }


/*
    1. 배경이미지를 넣어보세요.

    2. header 영역을 만들어보세요.

    3. gnb 영역을 만들어보세요.

    4. li a에 마우스를 올리면 border의 아래 색상이
    #222가 되게 만들어보세요.

    5. 컨텐츠 영역을 만들어보세요.

*/

body {
    background-image: url('images/bg.png');
    background-attachment: fixed;
}

/********************************* 
header
**********************************/


.header {
    background-color: #151515;
    height: 400px;
    line-height: 400px;
    color:white;
    font-family: "Fredoka", sans-serif;
    text-align: center;
    overflow: hidden;
}

.header h1 {
    font-size:200px;
    letter-spacing: -20px;
    word-spacing: 200px;

    white-space: nowrap;
    /* 화면사이즈 작아질시 글자 아래로가는것 없어지게 */
}

.header .point {
    position: relative;
    top:-400px;
}

/********************************* 
nav
**********************************/

.gnb-wrapper {
    background-color: rgba(0,0,0,0.7);
    padding:20px 0;
    text-align: center;
}

.gnb {
    background-color: #807776;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;

    padding:0 20px;
    border-radius: 30px;
}
.gnb li {float:left;}
.gnb li a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding:0 20px;
    border: 5px solid transparent;
}

.gnb li a:hover {
    border-bottom: 5px solid #222;
}

/********************************* 
grid
**********************************/

.grid {
    /* background-color: red; */
    width: 960px;
    margin: 100px auto;
    display:flex;
    flex-flow:wrap;
    justify-content: space-between;
}

.grid li {
    /* background-color: yellow; */
    width: 300px;
}

.grid li:nth-child(2),
.grid li:nth-child(5),
.grid li:nth-child(8) {
    position: relative;
    top:-50px;
}

.grid li .container {
    background-color: #93572e;
    border-radius: 20px;
    border-bottom: 10px solid #4b260a;
    /* padding:20px; */
    overflow: hidden;
}

.grid li .container:before {
    content:'';
    display: block;
    height: 50px;
    background-image: url('images/ac-top.png');
}

.grid li .container h2 {
    color:#fff;
    margin: 20px;
}
.grid li .container p {
    color:rgba(255,255,255,0.5);
    margin: 20px;
}